<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
<title>Nikolett and Joseph's Kanban Board</title>
</head>

<body>
    <h1>Kanban Board</h1>
    <section class="dt dt--fixed">
        <section class="dtc tc pv4 bg-light-blue vh-80">
            <ul id="to-do" class="list pl0 ml0 center mw6 ba b--light-silver br2"></ul>
        </section>
        <section class="dtc tc pv4 bg-pink vh-80">
            <ul id="doing" class="list pl0 ml0 center mw6 ba b--light-silver br2"></ul>
        </section>
        <section class="dtc tc pv4 bg-dark-blue vh-80">
            <ul id="done" class="list pl0 ml0 center mw6 ba b--light-silver br2"></ul>
        </section>
    </section>
</body>

<footer>
</footer>

</html>